.composition{

    position: relative;


    &__photo{
        width: 60%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: 2px;
        position: absolute;
        z-index: 1;
        transition: all .2s;
        outline-offset: 2rem; // Ce code permet de crée une margin de taille 2rem entre l'élément lorsque le survol 

        // Ici on positionne les photos de façon a ce qu'elle se chevauche
        &--p1{
            left: 0;
            top: -2rem;
        }

        &--p2{
            right: 0;
            top: 2rem;
        }

        &--p3{
            left: 20%;
            top: 10rem;
        }

        &:hover{
            // Ce code permet d'obtenir un hover en forme de rectangle tout autour de l'élément
            outline: 1.5rem solid $color-primary;
            // Cette élément permet le survol de chaque photo en hover 
            // Et qui passe l'une sur l'autre
            transform:scale(1.05);  
            box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
            z-index: 20;
        }
    }
}